<div class="dashboard">
  <div class="row">
    <div class="col-sm title">
      <select #festa (change)="changeContents()" required>
        <ng-container *ngFor="let c of contents">
          <option [value]="c._id">{{c.name}}&nbsp;&nbsp;&nbsp;({{c.company.name}})</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm c-bg festa"><img [src]="logoSrc"></div>
  </div>
  <div class="row">
    <div class="col-sm c-title" data="Visit rate"><span>방문율</span></div>
    <div class="col-sm offset-md-1 c-title" data="Partner"><span>파트너</span></div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div *ngIf="groupCount > 0" class="bold rate">{{((groupUsedCount / groupCount) * 100).toString() | slice:0:4}} %</div>
      <div *ngIf="groupCount <= 0" class="bold rate">0 %</div>
    </div>
    <div class="col-sm offset-md-1">
      <div class="bold c-bg partner"><img src="/assets/images/download.jpeg"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm c-title" data="Overall group ticket status"><span>그룹 티켓</span></div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="table-responsive">
          <table *ngIf="groupLength > 0" class="table table-striped">
            <tr>
              <th>그룹이름</th>
              <th>그룹설명</th>
              <th>입장율</th>
              <th>입장</th>
              <th>등록</th>
              <th>전체</th>
            </tr>
            <tr *ngFor="let g of groups">
              <td>{{g.name}}</td>
              <td>{{g.desc}}</td>
              <td>
                <span *ngIf="g.reg_gt_cnt">{{((g.used_gt_cnt/g.reg_gt_cnt)*100).toString() | slice:0:4}}%</span>
                <span *ngIf="!g.reg_gt_cnt">0 %</span>
              </td>
              <td>{{g.used_gt_cnt}}</td>
              <td>{{g.reg_gt_cnt}}</td>
              <td>{{g.qty}}</td>
            </tr>
          </table>
          <table *ngIf="groupLength <= 0" class="table table-striped">
              <tr style="text-align: center;">
                <td>그룹티켓이 존재하지 않습니다.</td>
              </tr>
          </table>
        </div>
    </div>
  </div>
</div>