@charset "utf-8";
@import 'variables';

.navBar {
  background-color: rgba(42, 42, 42, 1);

  nav {
    position: relative;
    left: 140px;
    padding: 10px;
    margin-right: 140px;
    font-size: 1.4em;
    // position: relative;
    // left: 140px;
    // padding: 17px;
    // margin-right: 140px;
    // font-size: 0.75em;

    li {
      display: inline;
      margin-right: 42px;

      a {
        text-align: center;
        &:hover { color: rgb(255, 255, 255); }
      }
    }
  }

  a {
    margin-left: 15px;

    .logo {
      padding: 12px;
    }
  }

  .title {
    display: inline;
    vertical-align: middle;
    font-size: 22px;
    margin-left: 20px;
    color: $lightGrey;
  }
}

.login-user {
  float: right;
}
