@charset 'utf-8';
@import 'variables';

li { list-style: none; }
a { text-decoration: none; color: inherit; }
select { -webkit-appearance: none; }

html, body {
  min-height: 100%;
  background-color: $bg;
}

.content {
  height: 100%;
  padding: 0.5em;
  background-color: $bg;
  z-index: -1;
}
