@charset 'utf-8';

@font-face {
	font-family: 'NotoSansCJKkrRegular';
	font-style: normal;
	src: url(./assets/font/NotoSansCJKkr-Regular.otf);
}

@font-face {
	font-family: 'NotoSansCJKkrBold';
	font-style: normal;
	src: url(./assets/font/NotoSansCJKkr-Bold.otf);
}

body {
	font-family: 'NotoSansCJKkrRegular';
	color: rgb(153, 153, 153);

	.bold {
		font-family: 'NotoSansCJKkrBold';
	}
}
